USE [master]
GO
/****** Object:  Database [SistemaPizzeriaFelixJoaquin]    Script Date: 16/11/2025 18:03:08 ******/
CREATE DATABASE [SistemaPizzeriaFelixJoaquin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaPizzeriaFelixJoaquin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaPizzeriaFelixJoaquin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaPizzeriaFelixJoaquin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaPizzeriaFelixJoaquin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaPizzeriaFelixJoaquin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaPizzeriaFelixJoaquin]
GO
/****** Object:  Table [dbo].[BitacoraEvento_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento_842JF](
	[idEvento_842JF] [int] NOT NULL,
	[login_842JF] [nvarchar](40) NULL,
	[fechaHora_842JF] [datetime] NULL,
	[modulo_842JF] [nvarchar](20) NULL,
	[evento_842JF] [nvarchar](50) NULL,
	[criticidad_842JF] [int] NULL,
 CONSTRAINT [PK_BitacoraEvento_842JF] PRIMARY KEY CLUSTERED 
(
	[idEvento_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_842JF](
	[DNI_842JF] [nvarchar](8) NOT NULL,
	[nombre_842JF] [nvarchar](20) NULL,
	[apellido_842JF] [nvarchar](20) NULL,
	[mail_842JF] [nvarchar](max) NULL,
	[telefono_842JF] [int] NULL,
	[activo_842JF] [bit] NULL,
 CONSTRAINT [PK_Cliente_842JF}] PRIMARY KEY CLUSTERED 
(
	[DNI_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_842JF](
	[nombreTabla_842JF] [nvarchar](50) NOT NULL,
	[vertical_842JF] [nvarchar](max) NULL,
	[horizontal_842JF] [nvarchar](max) NULL,
 CONSTRAINT [PK_DVerificador_842JF] PRIMARY KEY CLUSTERED 
(
	[nombreTabla_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_842JF](
	[nroFactura_842JF] [int] IDENTITY(1,1) NOT NULL,
	[fecha_842JF] [datetime] NOT NULL,
	[medioDePago_842JF] [varchar](50) NOT NULL,
	[nroPedido_842JF] [int] NOT NULL,
 CONSTRAINT [PK__Factura___062821CA273DAD24] PRIMARY KEY CLUSTERED 
(
	[nroFactura_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_842JF](
	[codFamilia_842JF] [int] NOT NULL,
	[nombre_842JF] [nvarchar](100) NOT NULL,
	[descripcion_842JF] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[codFamilia_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaFamilia_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaFamilia_842JF](
	[codFamilia_842JF] [int] NOT NULL,
	[codFamiliaRelacionado_842JF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codFamilia_842JF] ASC,
	[codFamiliaRelacionado_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPerfil_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPerfil_842JF](
	[codFamilia_842JF] [int] NOT NULL,
	[codPerfil_842JF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codFamilia_842JF] ASC,
	[codPerfil_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenDeCompra_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDeCompra_842JF](
	[codOrdenCompra_842JF] [int] IDENTITY(1,1) NOT NULL,
	[fecha_842JF] [datetime] NULL,
	[codProducto_842JF] [int] NULL,
	[CUIT_842JF] [nvarchar](50) NULL,
	[precioUnitario_842JF] [decimal](18, 2) NULL,
	[cantidad_842JF] [int] NULL,
	[recibida_842JF] [bit] NULL,
	[pago_842JF] [bit] NULL,
 CONSTRAINT [PK_OrdenDeCompra_842JF] PRIMARY KEY CLUSTERED 
(
	[codOrdenCompra_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_842JF](
	[nroPedido_842JF] [int] IDENTITY(1,1) NOT NULL,
	[DNI_842JF] [nvarchar](8) NOT NULL,
	[pago_842JF] [bit] NOT NULL,
	[estado_842JF] [nvarchar](20) NULL,
 CONSTRAINT [PK__Pedido_8__4D9CBAF14F61C081] PRIMARY KEY CLUSTERED 
(
	[nroPedido_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoPizza_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoPizza_842JF](
	[nroPedido_842JF] [int] NOT NULL,
	[codPizza_842JF] [int] NOT NULL,
	[cantidad_842JF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroPedido_842JF] ASC,
	[codPizza_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_842JF](
	[codPerfil_842JF] [int] NOT NULL,
	[nombre_842JF] [nvarchar](100) NOT NULL,
	[descripcion_842JF] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[codPerfil_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_842JF](
	[codPermiso_842JF] [int] NOT NULL,
	[nombre_842JF] [nvarchar](100) NOT NULL,
	[descripcion_842JF] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[codPermiso_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoFamilia_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoFamilia_842JF](
	[codPermiso_842JF] [int] NOT NULL,
	[codFamilia_842JF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codPermiso_842JF] ASC,
	[codFamilia_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoPerfil_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoPerfil_842JF](
	[codPermiso_842JF] [int] NOT NULL,
	[codPerfil_842JF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codPermiso_842JF] ASC,
	[codPerfil_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pizza_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizza_842JF](
	[codPizza_842JF] [int] IDENTITY(1,1) NOT NULL,
	[nombre_842JF] [nvarchar](100) NOT NULL,
	[descripcion_842JF] [nvarchar](255) NULL,
	[precio_842JF] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codPizza_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_842JF](
	[codProducto_842JF] [int] IDENTITY(1,1) NOT NULL,
	[nombre_842JF] [nvarchar](50) NULL,
	[descripcion_842JF] [nvarchar](50) NULL,
	[precioCompra_842JF] [decimal](18, 2) NULL,
	[cantidad_842JF] [int] NULL,
	[medida_842JF] [nvarchar](50) NULL,
	[disponible_842JF] [bit] NULL,
 CONSTRAINT [PK_Producto_842JF] PRIMARY KEY CLUSTERED 
(
	[codProducto_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_C_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_C_842JF](
	[idCambio_842JF] [int] IDENTITY(1,1) NOT NULL,
	[codProducto_842JF] [int] NULL,
	[fecha_842JF] [datetime] NULL,
	[nombre_842JF] [nvarchar](50) NULL,
	[cantidad_842JF] [int] NULL,
	[descripcion_842JF] [nvarchar](50) NULL,
	[precioCompra_842JF] [decimal](18, 2) NULL,
	[medida_842JF] [nvarchar](50) NULL,
	[disponible_842JF] [bit] NULL,
	[activo_842JF] [bit] NULL,
 CONSTRAINT [PK_Producto_C_842JF] PRIMARY KEY CLUSTERED 
(
	[idCambio_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_842JF](
	[CUIT_842JF] [nvarchar](50) NOT NULL,
	[nombre_842JF] [nvarchar](50) NULL,
	[telefono_842JF] [int] NULL,
	[estado_842JF] [bit] NULL,
	[mail_842JF] [nvarchar](max) NULL,
	[direccion_842JF] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedor_842JF] PRIMARY KEY CLUSTERED 
(
	[CUIT_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorProducto_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorProducto_842JF](
	[codProducto_842JF] [int] NOT NULL,
	[CUIT_842JF] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProveedorProducto_842JF] PRIMARY KEY CLUSTERED 
(
	[codProducto_842JF] ASC,
	[CUIT_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recepcion_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepcion_842JF](
	[codRecepcion_842JF] [int] IDENTITY(1,1) NOT NULL,
	[codProducto_842JF] [int] NULL,
	[CUIT_842JF] [nvarchar](50) NULL,
	[cantidad_842JF] [int] NULL,
	[fecha_842JF] [datetime] NULL,
	[descripcion_842JF] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recepcion_842JF] PRIMARY KEY CLUSTERED 
(
	[codRecepcion_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudPresupuesto_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudPresupuesto_842JF](
	[codSolicitud_842JF] [int] IDENTITY(1,1) NOT NULL,
	[codProducto_842JF] [int] NULL,
	[CUIT_842JF] [nvarchar](50) NULL,
	[fecha_842JF] [datetime] NULL,
 CONSTRAINT [PK_SolicitudPresupuesto_842JF] PRIMARY KEY CLUSTERED 
(
	[codSolicitud_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_842JF](
	[DNI_842JF] [nvarchar](8) NOT NULL,
	[nombre_842JF] [nvarchar](20) NULL,
	[apellido_842JF] [nvarchar](20) NULL,
	[login_842JF] [nvarchar](40) NULL,
	[contraseña_842JF] [nvarchar](70) NULL,
	[mail_842JF] [nvarchar](50) NULL,
	[bloqueo_842JF] [bit] NULL,
	[activo_842JF] [bit] NULL,
	[contador_842JF] [int] NULL,
	[ultimoIntento_842JF] [datetime] NULL,
	[idioma_842JF] [nvarchar](10) NULL,
	[rol_842JF] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[DNI_842JF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BitacoraEvento_842JF] ([idEvento_842JF], [login_842JF], [fechaHora_842JF], [modulo_842JF], [evento_842JF], [criticidad_842JF]) VALUES (1, N'46208842Joaquin', CAST(N'2025-11-16T16:32:28.693' AS DateTime), N'Usuarios', N'Iniciar Sesión', 1)
INSERT [dbo].[BitacoraEvento_842JF] ([idEvento_842JF], [login_842JF], [fechaHora_842JF], [modulo_842JF], [evento_842JF], [criticidad_842JF]) VALUES (2, N'46208842Joaquin', CAST(N'2025-11-16T16:32:38.320' AS DateTime), N'Usuarios', N'Cerrar Sesión', 1)
INSERT [dbo].[BitacoraEvento_842JF] ([idEvento_842JF], [login_842JF], [fechaHora_842JF], [modulo_842JF], [evento_842JF], [criticidad_842JF]) VALUES (3, N'46208842Joaquin', CAST(N'2025-11-16T16:39:40.710' AS DateTime), N'Usuarios', N'Iniciar Sesión', 1)
GO
INSERT [dbo].[Cliente_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [mail_842JF], [telefono_842JF], [activo_842JF]) VALUES (N'32765954', N'Veronica', N'Rodriguez', N'jZxmoQWql+JVqV3M7euh7YoqY9DLgr1oIQhBsyEK+rY=', 1143259867, 1)
INSERT [dbo].[Cliente_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [mail_842JF], [telefono_842JF], [activo_842JF]) VALUES (N'45236234', N'Tomas', N'Lockett', N'YK3BCYmJxedcbs6gc9EB4Yznp5sPKsziiTW1TsRpDII=', 1198076348, 1)
INSERT [dbo].[Cliente_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [mail_842JF], [telefono_842JF], [activo_842JF]) VALUES (N'45823327', N'Lucas', N'Gallardo', N'VUIMBMcrqxPwAIkPz6q16w/5LvpjyVkauT1Qhfne/ks=', 1145679806, 1)
GO
INSERT [dbo].[DV_842JF] ([nombreTabla_842JF], [vertical_842JF], [horizontal_842JF]) VALUES (N'Cliente_842JF', N'26882C3F6813C6BF6B37ED1BF834D49B84D3B46204CE0206EAB35BC8D242B8C5C', N'27B44F8A7D78ADE2096FF5E425C2460F0AFB15BDBF5315E33FA0F4BD7CC8C0E54')
INSERT [dbo].[DV_842JF] ([nombreTabla_842JF], [vertical_842JF], [horizontal_842JF]) VALUES (N'Factura_842JF', N'2A7411D8E8E6F8B1ACF3FCA412F6163C4BB32EE6F5820D3229EB2C28F92EEA459', N'0B2C5594FF463132BF8F3207D00ACE1A1A8FE770719723A95C2B98A1FF94C9697B')
INSERT [dbo].[DV_842JF] ([nombreTabla_842JF], [vertical_842JF], [horizontal_842JF]) VALUES (N'OrdenDeCompra_842JF', N'465939074D35817E0568661230EFE193B7C63EBEDE96A27C792C560AAE3A5BBF4', N'58F294640A36B7866CF06D01B9BBC6F38DC84136F5D30DBA911F47EA11465CF4')
GO
SET IDENTITY_INSERT [dbo].[Factura_842JF] ON 

INSERT [dbo].[Factura_842JF] ([nroFactura_842JF], [fecha_842JF], [medioDePago_842JF], [nroPedido_842JF]) VALUES (1, CAST(N'2025-01-15T01:03:29.793' AS DateTime), N'Efectivo', 1)
INSERT [dbo].[Factura_842JF] ([nroFactura_842JF], [fecha_842JF], [medioDePago_842JF], [nroPedido_842JF]) VALUES (2, CAST(N'2025-08-16T13:26:28.553' AS DateTime), N'Efectivo', 2)
INSERT [dbo].[Factura_842JF] ([nroFactura_842JF], [fecha_842JF], [medioDePago_842JF], [nroPedido_842JF]) VALUES (3, CAST(N'2025-08-16T13:26:36.393' AS DateTime), N'Efectivo', 4)
SET IDENTITY_INSERT [dbo].[Factura_842JF] OFF
GO
INSERT [dbo].[Familia_842JF] ([codFamilia_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (1, N'Basicos', N'd')
INSERT [dbo].[Familia_842JF] ([codFamilia_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (2, N'Admin', N'd')
INSERT [dbo].[Familia_842JF] ([codFamilia_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (3, N'Maestro', N'd')
GO
INSERT [dbo].[FamiliaPerfil_842JF] ([codFamilia_842JF], [codPerfil_842JF]) VALUES (1, 1)
INSERT [dbo].[FamiliaPerfil_842JF] ([codFamilia_842JF], [codPerfil_842JF]) VALUES (1, 2)
INSERT [dbo].[FamiliaPerfil_842JF] ([codFamilia_842JF], [codPerfil_842JF]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[OrdenDeCompra_842JF] ON 

INSERT [dbo].[OrdenDeCompra_842JF] ([codOrdenCompra_842JF], [fecha_842JF], [codProducto_842JF], [CUIT_842JF], [precioUnitario_842JF], [cantidad_842JF], [recibida_842JF], [pago_842JF]) VALUES (1, CAST(N'2025-11-16T17:13:34.633' AS DateTime), 9, N'44-44444444-4', CAST(1.40 AS Decimal(18, 2)), 2000, 0, 0)
SET IDENTITY_INSERT [dbo].[OrdenDeCompra_842JF] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido_842JF] ON 

INSERT [dbo].[Pedido_842JF] ([nroPedido_842JF], [DNI_842JF], [pago_842JF], [estado_842JF]) VALUES (1, N'45926990', 1, N'Pagado')
INSERT [dbo].[Pedido_842JF] ([nroPedido_842JF], [DNI_842JF], [pago_842JF], [estado_842JF]) VALUES (2, N'45926990', 1, N'Pagado')
INSERT [dbo].[Pedido_842JF] ([nroPedido_842JF], [DNI_842JF], [pago_842JF], [estado_842JF]) VALUES (4, N'45823327', 1, N'Pagado')
SET IDENTITY_INSERT [dbo].[Pedido_842JF] OFF
GO
INSERT [dbo].[PedidoPizza_842JF] ([nroPedido_842JF], [codPizza_842JF], [cantidad_842JF]) VALUES (1, 1, 1)
INSERT [dbo].[PedidoPizza_842JF] ([nroPedido_842JF], [codPizza_842JF], [cantidad_842JF]) VALUES (2, 1, 1)
INSERT [dbo].[PedidoPizza_842JF] ([nroPedido_842JF], [codPizza_842JF], [cantidad_842JF]) VALUES (3, 3, 3)
GO
INSERT [dbo].[Perfil_842JF] ([codPerfil_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (1, N'Basico', N'fsd')
INSERT [dbo].[Perfil_842JF] ([codPerfil_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (2, N'Administrador', N'el admin')
INSERT [dbo].[Perfil_842JF] ([codPerfil_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (3, N'Encargado', N'el encargado')
GO
INSERT [dbo].[Permiso_842JF] ([codPermiso_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (1, N'Sesion', N'Sesion')
INSERT [dbo].[Permiso_842JF] ([codPermiso_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (2, N'Usuarios', N'Usuarios')
INSERT [dbo].[Permiso_842JF] ([codPermiso_842JF], [nombre_842JF], [descripcion_842JF]) VALUES (3, N'Perfiles', N'Perfiles')
GO
INSERT [dbo].[PermisoFamilia_842JF] ([codPermiso_842JF], [codFamilia_842JF]) VALUES (1, 1)
INSERT [dbo].[PermisoFamilia_842JF] ([codPermiso_842JF], [codFamilia_842JF]) VALUES (2, 2)
INSERT [dbo].[PermisoFamilia_842JF] ([codPermiso_842JF], [codFamilia_842JF]) VALUES (3, 2)
GO
INSERT [dbo].[PermisoPerfil_842JF] ([codPermiso_842JF], [codPerfil_842JF]) VALUES (6, 3)
INSERT [dbo].[PermisoPerfil_842JF] ([codPermiso_842JF], [codPerfil_842JF]) VALUES (6, 4)
INSERT [dbo].[PermisoPerfil_842JF] ([codPermiso_842JF], [codPerfil_842JF]) VALUES (6, 5)
GO
SET IDENTITY_INSERT [dbo].[Pizza_842JF] ON 

INSERT [dbo].[Pizza_842JF] ([codPizza_842JF], [nombre_842JF], [descripcion_842JF], [precio_842JF]) VALUES (1, N'Muzzarella', N'Pizza de 8 porciones con muzzarella, salsa de tomate, oregano y aceitunas.', CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[Pizza_842JF] ([codPizza_842JF], [nombre_842JF], [descripcion_842JF], [precio_842JF]) VALUES (2, N'Jamón', N'Pizza de 8 porciones con muzzarella, salsa de tomate, fetas de jamon cocido, oregano y aceitunas.', CAST(12000.00 AS Decimal(10, 2)))
INSERT [dbo].[Pizza_842JF] ([codPizza_842JF], [nombre_842JF], [descripcion_842JF], [precio_842JF]) VALUES (3, N'Jamón y Morrón', N'Pizza de 8 porciones con muzzarella, salsa de tomate, fetas de jamon cocido,morron, oregano y aceitunas.', CAST(14000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pizza_842JF] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto_842JF] ON 

INSERT [dbo].[Producto_842JF] ([codProducto_842JF], [nombre_842JF], [descripcion_842JF], [precioCompra_842JF], [cantidad_842JF], [medida_842JF], [disponible_842JF]) VALUES (1, N'Jamon', N'Jamon', CAST(2.50 AS Decimal(18, 2)), 5000, N'Gramos', 1)
INSERT [dbo].[Producto_842JF] ([codProducto_842JF], [nombre_842JF], [descripcion_842JF], [precioCompra_842JF], [cantidad_842JF], [medida_842JF], [disponible_842JF]) VALUES (2, N'Queso', N'Queso', CAST(2.20 AS Decimal(18, 2)), 5000, N'Gramos', 1)
INSERT [dbo].[Producto_842JF] ([codProducto_842JF], [nombre_842JF], [descripcion_842JF], [precioCompra_842JF], [cantidad_842JF], [medida_842JF], [disponible_842JF]) VALUES (3, N'Aceituna', N'Aceituna', CAST(3.00 AS Decimal(18, 2)), 2000, N'Unidades', 1)
SET IDENTITY_INSERT [dbo].[Producto_842JF] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto_C_842JF] ON 

INSERT [dbo].[Producto_C_842JF] ([idCambio_842JF], [codProducto_842JF], [fecha_842JF], [nombre_842JF], [cantidad_842JF], [descripcion_842JF], [precioCompra_842JF], [medida_842JF], [disponible_842JF], [activo_842JF]) VALUES (1, 1, CAST(N'2025-11-16T16:24:52.660' AS DateTime), N'Jamon', 0, N'Jamon', CAST(0.00 AS Decimal(18, 2)), N'Gramos', 1, 0)
INSERT [dbo].[Producto_C_842JF] ([idCambio_842JF], [codProducto_842JF], [fecha_842JF], [nombre_842JF], [cantidad_842JF], [descripcion_842JF], [precioCompra_842JF], [medida_842JF], [disponible_842JF], [activo_842JF]) VALUES (2, 2, CAST(N'2025-11-16T16:24:54.560' AS DateTime), N'Queso', 0, N'Queso', CAST(0.00 AS Decimal(18, 2)), N'Gramos', 1, 0)
INSERT [dbo].[Producto_C_842JF] ([idCambio_842JF], [codProducto_842JF], [fecha_842JF], [nombre_842JF], [cantidad_842JF], [descripcion_842JF], [precioCompra_842JF], [medida_842JF], [disponible_842JF], [activo_842JF]) VALUES (3, 3, CAST(N'2025-11-16T16:24:56.220' AS DateTime), N'Aceituna', 0, N'Aceituna', CAST(0.00 AS Decimal(18, 2)), N'Unidades', 1, 0)
SET IDENTITY_INSERT [dbo].[Producto_C_842JF] OFF
GO
INSERT [dbo].[Proveedor_842JF] ([CUIT_842JF], [nombre_842JF], [telefono_842JF], [estado_842JF], [mail_842JF], [direccion_842JF]) VALUES (N'22-22222222-2', N'Fiambrero', 1130402255, 1, N'fiambrero@gmail.com', N'Yerbal 175')
INSERT [dbo].[Proveedor_842JF] ([CUIT_842JF], [nombre_842JF], [telefono_842JF], [estado_842JF], [mail_842JF], [direccion_842JF]) VALUES (N'33-33333333-3', N'Harinero', 1122334455, 1, N'harinero@gmail.com', N'Campichuelo 324')
INSERT [dbo].[Proveedor_842JF] ([CUIT_842JF], [nombre_842JF], [telefono_842JF], [estado_842JF], [mail_842JF], [direccion_842JF]) VALUES (N'44-44444444-4', N'Varios S.A', 1143598232, 1, N'varios@gmail.com', N'Araoz 981')
GO
INSERT [dbo].[ProveedorProducto_842JF] ([codProducto_842JF], [CUIT_842JF]) VALUES (1, N'22-22222222-2')
INSERT [dbo].[ProveedorProducto_842JF] ([codProducto_842JF], [CUIT_842JF]) VALUES (2, N'22-22222222-2')
INSERT [dbo].[ProveedorProducto_842JF] ([codProducto_842JF], [CUIT_842JF]) VALUES (3, N'44-44444444-4')
GO
SET IDENTITY_INSERT [dbo].[Recepcion_842JF] ON 

INSERT [dbo].[Recepcion_842JF] ([codRecepcion_842JF], [codProducto_842JF], [CUIT_842JF], [cantidad_842JF], [fecha_842JF], [descripcion_842JF]) VALUES (1, 4, N'44-44444444-4', 5000, CAST(N'2025-11-07T18:40:01.413' AS DateTime), N'-')
SET IDENTITY_INSERT [dbo].[Recepcion_842JF] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudPresupuesto_842JF] ON 

INSERT [dbo].[SolicitudPresupuesto_842JF] ([codSolicitud_842JF], [codProducto_842JF], [CUIT_842JF], [fecha_842JF]) VALUES (1, 9, N'44-44444444-4', CAST(N'2025-11-16T17:13:21.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[SolicitudPresupuesto_842JF] OFF
GO
INSERT [dbo].[Usuario_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [login_842JF], [contraseña_842JF], [mail_842JF], [bloqueo_842JF], [activo_842JF], [contador_842JF], [ultimoIntento_842JF], [idioma_842JF], [rol_842JF]) VALUES (N'12345678', N'Pepe', N'Argentum', N'12345678Pepe', N'e1bfeef5cf891a4b07a5c41b855fe699f01044432927f3bc5da9a7f011093ba0', N'pepeargento@gmail.com', 0, 0, 0, CAST(N'2025-09-18T21:23:31.650' AS DateTime), N'spanish', 1)
INSERT [dbo].[Usuario_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [login_842JF], [contraseña_842JF], [mail_842JF], [bloqueo_842JF], [activo_842JF], [contador_842JF], [ultimoIntento_842JF], [idioma_842JF], [rol_842JF]) VALUES (N'23200992', N'Francisca', N'Perez', N'23200992Francisca', N'6a8481cc0676ba8e1cd6b2d8e1c1e06f66f7fa3bdda854a4c4b2ba3b6a63665e', N'peter123@gmail.com', 0, 0, 0, CAST(N'2025-06-18T14:23:09.950' AS DateTime), N'spanish', 1)
INSERT [dbo].[Usuario_842JF] ([DNI_842JF], [nombre_842JF], [apellido_842JF], [login_842JF], [contraseña_842JF], [mail_842JF], [bloqueo_842JF], [activo_842JF], [contador_842JF], [ultimoIntento_842JF], [idioma_842JF], [rol_842JF]) VALUES (N'26200980', N'Barbara', N'Brandariz', N'26200980Barbara', N'e1e2138dbef747b02ff6c2e7a98b04bcc7d00326c9bad384fac34c4281b80355', N'barbarabrandariz@gmail.com', 0, 1, 0, CAST(N'2025-06-19T13:57:40.383' AS DateTime), N'spanish', 3)
GO
ALTER TABLE [dbo].[Factura_842JF]  WITH CHECK ADD  CONSTRAINT [FK__Factura_8__nroPe__02FC7413] FOREIGN KEY([nroPedido_842JF])
REFERENCES [dbo].[Pedido_842JF] ([nroPedido_842JF])
GO
ALTER TABLE [dbo].[Factura_842JF] CHECK CONSTRAINT [FK__Factura_8__nroPe__02FC7413]
GO
ALTER TABLE [dbo].[FamiliaPerfil_842JF]  WITH CHECK ADD FOREIGN KEY([codPerfil_842JF])
REFERENCES [dbo].[Perfil_842JF] ([codPerfil_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPerfil_842JF]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPerfil_Familia] FOREIGN KEY([codFamilia_842JF])
REFERENCES [dbo].[Familia_842JF] ([codFamilia_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPerfil_842JF] CHECK CONSTRAINT [FK_FamiliaPerfil_Familia]
GO
ALTER TABLE [dbo].[Pedido_842JF]  WITH CHECK ADD  CONSTRAINT [FK__Pedido_84__DNI_8__6EF57B66] FOREIGN KEY([DNI_842JF])
REFERENCES [dbo].[Cliente_842JF] ([DNI_842JF])
GO
ALTER TABLE [dbo].[Pedido_842JF] CHECK CONSTRAINT [FK__Pedido_84__DNI_8__6EF57B66]
GO
ALTER TABLE [dbo].[PermisoFamilia_842JF]  WITH CHECK ADD FOREIGN KEY([codPermiso_842JF])
REFERENCES [dbo].[Permiso_842JF] ([codPermiso_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoFamilia_842JF]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Familia] FOREIGN KEY([codFamilia_842JF])
REFERENCES [dbo].[Familia_842JF] ([codFamilia_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoFamilia_842JF] CHECK CONSTRAINT [FK_PermisoFamilia_Familia]
GO
ALTER TABLE [dbo].[PermisoPerfil_842JF]  WITH CHECK ADD FOREIGN KEY([codPermiso_842JF])
REFERENCES [dbo].[Permiso_842JF] ([codPermiso_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoPerfil_842JF]  WITH CHECK ADD FOREIGN KEY([codPerfil_842JF])
REFERENCES [dbo].[Perfil_842JF] ([codPerfil_842JF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_842JF]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([rol_842JF])
REFERENCES [dbo].[Perfil_842JF] ([codPerfil_842JF])
GO
ALTER TABLE [dbo].[Usuario_842JF] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Usuario_842JF]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_842JF] FOREIGN KEY([rol_842JF])
REFERENCES [dbo].[Perfil_842JF] ([codPerfil_842JF])
GO
ALTER TABLE [dbo].[Usuario_842JF] CHECK CONSTRAINT [FK_Usuario_Perfil_842JF]
GO
ALTER TABLE [dbo].[PedidoPizza_842JF]  WITH CHECK ADD CHECK  (([cantidad_842JF]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[SP_ActivarRegistroYActualizarProducto]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActivarRegistroYActualizarProducto]
    @idCambio_842JF INT
AS
BEGIN
    BEGIN TRANSACTION;

    DECLARE @CodProducto INT;

    -- Obtener datos del cambio que se quiere activar
    SELECT 
        @CodProducto = codProducto_842JF
    FROM Producto_C_842JF
    WHERE idCambio_842JF = @idCambio_842JF;

    IF @CodProducto IS NULL
    BEGIN
        RAISERROR('El idCambio_842JF especificado no existe.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Evitar ejecución del Trigger
    EXEC sp_set_session_context 'SkipTrigger', 1;

    BEGIN TRY

        -- Desactivar el anterior activo del mismo producto
        UPDATE Producto_C_842JF
        SET activo_842JF = 0
        WHERE codProducto_842JF = @CodProducto
          AND activo_842JF = 1;

        -- Activar el registro elegido
        UPDATE Producto_C_842JF
        SET activo_842JF = 1
        WHERE idCambio_842JF = @idCambio_842JF;

        -- Actualizar **todos los campos** del producto principal usando la version activada
        UPDATE p
        SET
            p.nombre_842JF = pc.nombre_842JF,
            p.cantidad_842JF = pc.cantidad_842JF,
            p.descripcion_842JF = pc.descripcion_842JF,
            p.precioCompra_842JF = pc.precioCompra_842JF,
            p.medida_842JF = pc.medida_842JF,
            p.disponible_842JF = pc.disponible_842JF
        FROM Producto_842JF p
        INNER JOIN Producto_C_842JF pc
            ON p.codProducto_842JF = pc.codProducto_842JF
        WHERE pc.idCambio_842JF = @idCambio_842JF;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH

    -- Limpieza del contexto
    EXEC sp_set_session_context 'SkipTrigger', 0;
END
GO
/****** Object:  Trigger [dbo].[TriggerBitacoCambios_842JF]    Script Date: 16/11/2025 18:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TriggerBitacoCambios_842JF]
ON [dbo].[Producto_842JF]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Evitar ejecución si fue solicitado desde un Stored Procedure
    IF CAST(SESSION_CONTEXT(N'SkipTrigger') AS bit) = 1
    BEGIN
        RETURN;
    END

    -- Desactivar registros previos del mismo producto
    UPDATE pc
    SET pc.activo_842JF = 0
    FROM Producto_C_842JF pc
    INNER JOIN INSERTED i
        ON pc.codProducto_842JF = i.codProducto_842JF;

    -- Registrar nueva versión siempre
    INSERT INTO Producto_C_842JF
    (
        codProducto_842JF,
        fecha_842JF,
        nombre_842JF,
        cantidad_842JF,
        descripcion_842JF,
        precioCompra_842JF,
        medida_842JF,
        disponible_842JF,
        activo_842JF
    )
    SELECT
        i.codProducto_842JF,
        GETDATE(),
        i.nombre_842JF,
        i.cantidad_842JF,
        i.descripcion_842JF,
        i.precioCompra_842JF,
        i.medida_842JF,
        i.disponible_842JF,
        1
    FROM INSERTED i;
END
GO
ALTER TABLE [dbo].[Producto_842JF] ENABLE TRIGGER [TriggerBitacoCambios_842JF]
GO
USE [master]
GO
